@media (min-width: 1400px){} 

@media (min-width: 1200px) and (max-width: 1399px) {
    .header-banner-h-900 {
        height: 900px;
    }
    .road-map-height{
        height: 600px;
      }
    .paper{
        width: 700px;
        /* margin: 0 auto; */
        
      }
      .height-900{
        height: 600px;
      }

} 

@media (min-width: 992px) and (max-width: 1199px) {
    .header-banner-h-900 {
        height: 800px;
    }
    .road-map-height{
        height: 650px;
      }
      .bye-height{
        height: 1700px;
      }
    .paper {
        width: 600px;
        /* margin: 0 auto; */
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
    }
    .height-900{
        height: 600px;
      }
      .main-text-img {
        width: 900px;
    }
    .nav-btn {
        width: 90px;
    }
    .nav-btn-1 {
        width: 130px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .header-banner-h-900 {
        height: 600px;
    }
    .height-800{
        height: 800px;
    }
    .height-900 {
        height: 900px;
    }
      .height-about-900{
        height: 800px;
      }
      .height-1300{
        height: 1300px;
      }
      .bye-height{
        height: 1050px;
      }
      /* banner */
      .top-menu-lg h1 {
        font-size: 60px;
    }
    /* about */
    .title{
        font-size: 70px;
    }
    /* chart */
    .chart-btn {
        width: 280px;
    }
    .main-text-img {
        width: 700px;
    }
    /* bye */
    /* .sm-bye-bg{
        background: url(../images/bye-banner.png) no-repeat;
        padding: 1000px 0;
    } */
    /* paper */
    .bye-box{
        width: 300px;
    }
    
    .paper {
        width: 550px;
        /* margin: 0 auto; */
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
    }
    /* contact */
    
    .contact-to-home-btn{
        left: 50%;
        bottom: 100px;
      
      }
      .text-container {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    .nav-btn {
        width: 80px;
    }
    .nav-btn-1 {
        width: 100px;
    }
    .mobile-nav{
        position: absolute;
        width: 100%;
        background-color: #faaf40;
        left: 150%;
        top: 40px;
        /* transform: translateX(-50%); */
        transition: all linear 0.4s;
        opacity: 0;
        visibility: hidden;
        opacity: 0;
        z-index: 99;
        }
        .mobile-nav.is-active{
            position: absolute;
            width: 100%;
            background-color: #faaf40;
            left: 50%;
            top: 40px;
            transform: translateX(-50%);
            transition: all linear 0.4s;
            opacity: 0;
            visibility: hidden;
            opacity: 0;
            z-index: 9999;
            opacity: 1;
            visibility: visible;
        }
        .nav-link.active {
            background-position: left top;
          }
          .nav-link {
            padding: 20px 0  ;
          }
          .tokenomics-height{
            height: 900px;
          }

}

@media (min-width: 576px) and (max-width: 767px) {
    .header-banner-h-900 {
        height: 700px;
    }
    .height-900 {
        height: 800px;
    }
    .height-900{
        height: 1000px;
      }
      .road-map-height{
        height: 800px;
      }
      .height-about-900{
        height: 700px;
      }
      .height-1300{
        height: 1300px;
      }
      .bye-height{
        height: 1700px;
      }
      /* banner */
      .top-menu-lg h1 {
        font-size: 60px;
    }
    /* about */
    .title{
        font-size: 70px;
    }
    /* chart */
    .chart-btn {
        width: 280px;
    }
    /* bye */
    /* .sm-bye-bg{
        background: url(../images/bye-banner.png) no-repeat;
        padding: 1000px 0;
    } */
    /* paper */
    .bye-box{
        width: 300px;
    }
    
    .paper {
        width: 450px;
        /* margin: 0 auto; */
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
    }
    /* contact */
    
    .contact-to-home-btn{
        left: 50%;
        bottom: 100px;
      
      }
      .text-container {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    .contact-frog-img{
        width: 500px;
        margin: 0 auto;
    }
    .main-text-img {
        width: 500px;
        margin: 0 auto;
    }
    .mobile-nav{
        background: #faaf40;
        top: 40px;

        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        transition: all linear 0.4s;
        opacity: 0;
        visibility: hidden;
        opacity: 0;

        z-index: 99;
        }
        .mobile-nav.is-active{
            opacity: 1;
            visibility: visible;
        }
        .mobile-nav{
            top:40px;
            background: #faaf40;
            position: absolute;
            width: 100%;
            transition: all linear 0.4s;
            opacity: 0;
            visibility: hidden;
            opacity: 0;
            z-index: 99;
            }
            .mobile-nav.is-active{
                opacity: 1;
                visibility: visible;
            }
            .nav-link.active {
                background-position: left top;
              }
              .nav-link {
                padding: 20px 0  ;
              }
} 

@media (max-width: 575px) {
    
    .height-800{
        height: 800px;
    }
    .height-900{
        height: 900px;
    }
    .contact-height-1100{
        height: 1000px;
    }
    .height-about-900{
        height: 900px;
      }
      .height-1300{
        height: 1300px;
      }
      .bye-height{
        height: 1700px;
      }
      /* banner */
      .top-menu-lg h1 {
        font-size: 60px;
    }
    /* about */
    .title{
        font-size: 70px;
    }
    /* chart */
    .chart-btn {
        width: 280px;
    }
    /* .circle-chart {
        width: 600px;
        margin-left: 100px;
    }   */
    /* .position-vertical-center {
        width: 170px;
        top: 0px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;
    }
    .circle{
        width: 20px;
        height: 20px;
        border-radius: 50%;
        margin-left: 30px;
  
      } */
    /* bye */
    /* .sm-bye-bg{
        background: url(../images/bye-banner.png) no-repeat;
        padding: 1000px 0;
    } */
    /* paper */
    .bye-box{
        width: 300px;
    }

.paper {
    width: 300px;
    /* margin: 0 auto; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}
/* contact */
.contact-frog-img{
    width: 300px;
    margin: 0 auto;
}
.text-container {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.main-text-img {
    width: 300px;
    margin: 0 auto;
}
.header-banner-h-900{
    height: 500px;
  }
  .nav-w-700 {
    width: 100%;
    margin: 0 auto;
}
/* .mb-nav{
    position: absolute;
    z-index: 1;
    background: #000;
} */
.mobile-nav{
    top:40px;
    background: #faaf40;
    position: absolute;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    transition: all linear 0.4s;
    opacity: 0;
    visibility: hidden;
    opacity: 0;
    z-index: 9999;
    }
    .mobile-nav.is-active{
        opacity: 1;
        visibility: visible;
        z-index: 9999;
    }
    .nav-link.active {
        background-position: left top;
      }
      .nav-link {
        padding: 20px 0  ;
      }
} 